/* #color-palette {
  display: flex;
  flex-direction: row;
}

#pixel-board {
  margin: 10px;
}
 */

#color-palette {
  display: flex;
}

.color {
  border: solid 1px black;
  height: 200px;
  width: 400px;
}

.color:nth-child( 1 ) {
  background-color: black;
}

.color:nth-child( 3 ) {
  background-color: red;
}

.pixel {
  width: 40px;
  height: 40px;
  border: solid 1px black;
}

#generate-board {
  margin-left: 210px;
  position: absolute;
  margin-top: -37px;
}
