 body {
    background-color: rgb(253, 251, 251);
    width: 100%;
    height: auto;
    max-height: 500px;
} 

 #cabecalho {
    top: 0;
    position: fixed;
    left: 450px;
    color:darkgoldenrod;
    margin: 15px;
}

 div {
   height: 100px;
   background-color:rgb(56, 138, 254);
}

#minha_foto {
    width: 150px;
    position: absolute;
    top: 200px;    

}

section ol li {
    bottom: 280px;
    position: relative;
    margin-left: 570px;
    border: 2px dashed black;
    width: 130px;
    text-align: center;

}

#tituloLol {
    bottom: 270px;
    position: relative;
    margin-left: 570px;
}

span img {
    bottom: 780px;
    position: relative;
    margin-left: 470px;
}

#img img {
    position: relative;
    bottom: 100px;
    margin-left: 800px;
}

section ul li {
    margin-left: 900px;
    bottom: 590px;
    position: relative;
    border: dashed 2px gray;
    width: 130px;
    text-align: center;
}

#tituloLul {
    bottom: 580px;
    position: relative;
    margin-left: 900px;
}

#rodape {
    bottom: 650px;
    margin: 10px;
    position: relative;
    text-align: center;
    font-size: 100px;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: lightgreen;
    color: khaki;
    transition: 3s;
}

#artigo {
    position: relative;
    margin-left: 220px;
    bottom: 345px;

}

#artigo textarea {
    width: 500px;
    height: 170px;
    font-family: cursive;
    font-size: 20px;
    background-color: silver;
    color:slateblue;
    float: inline-start;
}

label {
    bottom: 200px;
    position: relative;
    color:tan;
    font-weight: 800;
    font-size: 20px;
    left: 310px;
}

h2 {
    color: tan;
    margin: 5px;
}

aside {
    max-width: 150px;
    position: relative;
    left: 1180px;
    top: 20px;
    background-color: khaki;
    color:lime;
    text-align: center;
    
}

p {
    margin: 5px;
}

#table {
    bottom: 940px;
    position: relative;
}
