body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    top: 0;
    position: fixed;
}

#minha_foto {
    width: 150px;
    position: absolute;
    top: 70px;
}

section ol li {
    top: 280px;
    position: relative;
}

section ul li {
    margin-left: 300px;
    top: 80px;
    position: relative;
}

#rodape {
    bottom: 500px;
    margin: 10px;
    position: relative;
}

#artigo {
    position: relative;
    margin-left: 350px;
    bottom: 300px;
}

#artigo textarea {
    width: 500px;
    height: 170px;
    font-family: cursive;
    font-size: 20px;
    background-color: silver;
    color:slateblue;
    float: inline-start;
}

label {
    bottom: 200px;
    position: relative;
    color:tan;
    font-weight: 800;
    font-size: 20px;
    left: 310px;
}

h2 {
    color: tan;
    margin: 5px;
}

aside {
    max-width: 150px;
    border: teal solid 1px;
    position: relative;
    left: 1100px;
    bottom: 550px;
}

p {
    margin: 5px;
}