body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    top: 0;
    position: fixed;
}

#minha_foto {
    width: 150px;
    position: absolute;
    top: 70px;
}

section ol li {
    top: 280px;
    position: relative;
}

section ul li {
    margin-left: 300px;
    top: 80px;
    position: relative;
}

#rodape {
    top: 150px;
    margin: 10px;
    position: relative;
}

#artigo {
    position: relative;
    margin-left: 500px;
    bottom: 300px;
}

#artigo textarea {
    width: 500px;
    height: 170px;
    font-family: cursive;
    font-size: 20px;
    background-color: silver;
    color:slateblue
}

h3 {
    color: tan;
    text-align: justify;
}